@import "tailwindcss";
@import url("/fonts/creato_display/creato_display.css");

* {
    font-family: 'Creato Display', system-ui, -apple-system, sans-serif;
}

h1, h2, h3 {
    font-weight: 700;
    color: inherit;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 1.25rem;
}

h3 {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 1rem;
}

p {
    font-weight: 400;
    color: inherit;
}

.description-field {

}

@theme {
    --login-background: url('/images/login-background.png');
}

